body {
    margin: 0;
    background-color: whitesmoke;
    padding: 10px 20px;
}

p {
    color: purple;
    font-family: sans-serif;
    margin-bottom: 6px;
}

#start,
#game-over {
    font-family: Arial, Helvetica, sans-serif;
    color: purple;
    background-color: whitesmoke;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    height: 200px;
    width: 250px;
    text-align: center;
    border-radius: 15px;
}

#start a,
#game-over a {
    border: 3px solid purple;
    color: purple;
    background-color: whitesmoke;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    display: block;
    width: 200px;
    text-align: center;
    font-size: 2em;
    display: inline-block;
}

#start a:hover,
#game-over a:hover {
    background-color: purple;
    color: whitesmoke;
}

#gameCanvas {
    background-color: green;
    display: none;
}

#start {
    display: block;
}

#scoreD {
    display: flex;
    justify-content: center;
}